In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
CRASHES_DROP = [
    'RD_NO',
    'CRASH_DATE_EST_I',
    'LANE_CNT',
    'REPORT_TYPE',
    'NOT_RIGHT_OF_WAY_I',
    'DATE_POLICE_NOTIFIED',
    'SEC_CONTRIBUTORY_CAUSE',
    'STREET_NO',
    'STREET_DIRECTION',
    'STREET_NAME',
    'BEAT_OF_OCCURRENCE',
    'PHOTOS_TAKEN_I',
    'STATEMENTS_TAKEN_I',
    'DOORING_I',
    'WORK_ZONE_TYPE',
    'WORKERS_PRESENT_I',
    'INJURIES_UNKNOWN',
    'INJURIES_INCAPACITATING',
    'INJURIES_NON_INCAPACITATING',
    'INJURIES_REPORTED_NOT_EVIDENT',
    'INJURIES_NO_INDICATION',
    'LOCATION'
]

In [3]:
NA_VALUES = [
    'UNKNOWN',
    'OTHER',
    'NOT APPLICABLE',
    'UNABLE TO DETERMINE',
    'NOT REPORTED',
]

In [4]:
crashes = pd.read_csv('chicago_crashes.csv',
                      na_values=NA_VALUES
).drop(columns=CRASHES_DROP)

crashes_no_cause = crashes.loc[crashes['PRIM_CONTRIBUTORY_CAUSE'].isna(), :]

crashes.dropna(subset=['PRIM_CONTRIBUTORY_CAUSE'], axis=0, inplace=True)
# crashes.dropna(axis=1, how='any', thresh=0.05 * chi_crashes.shape[0], inplace=True)
crashes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301934 entries, 0 to 526552
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          301934 non-null  object
 1   CRASH_DATE               301934 non-null  object
 2   POSTED_SPEED_LIMIT       301934 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE   294593 non-null  object
 4   DEVICE_CONDITION         288120 non-null  object
 5   WEATHER_CONDITION        295279 non-null  object
 6   LIGHTING_CONDITION       298364 non-null  object
 7   FIRST_CRASH_TYPE         301934 non-null  object
 8   TRAFFICWAY_TYPE          291675 non-null  object
 9   ALIGNMENT                301934 non-null  object
 10  ROADWAY_SURFACE_COND     289533 non-null  object
 11  ROAD_DEFECT              263625 non-null  object
 12  CRASH_TYPE               301934 non-null  object
 13  INTERSECTION_RELATED_I   85281 non-null   object
 14  HIT_AND_RUN_I            68134 non-null   object
 15  DAMAGE                   301934 non-null  object
 16  PRIM_CONTRIBUTORY_CAUSE  301934 non-null  object
 17  WORK_ZONE_I              2309 non-null    object
 18  NUM_UNITS                301934 non-null  int64
 19  MOST_SEVERE_INJURY       301668 non-null  object
 20  INJURIES_TOTAL           301671 non-null  float64
 21  INJURIES_FATAL           301671 non-null  float64
 22  CRASH_HOUR               301934 non-null  int64
 23  CRASH_DAY_OF_WEEK        301934 non-null  int64
 24  CRASH_MONTH              301934 non-null  int64
 25  LATITUDE                 300067 non-null  float64
 26  LONGITUDE                300067 non-null  float64
dtypes: float64(4), int64(5), object(18)
memory usage: 64.5+ MB

In [5]:
with open('crashes.pkl', 'wb') as f:
    pickle.dump(crashes, f)

In [5]:
# POSTED_SPEED_LIMIT
crashes.POSTED_SPEED_LIMIT.value_counts(dropna=False)

30    228051
35     22479
25     16109
20      9870
15      9252
10      4930
40      3406
0       3276
45      2163
5       1771
55       309
50        77
3         68
9         39
39        37
60        17
2         14
99         9
1          9
32         8
33         7
34         6
24         4
11         4
6          3
36         3
65         3
70         2
7          2
63         1
12         1
49         1
16         1
38         1
31         1
Name: POSTED_SPEED_LIMIT, dtype: int64

In [7]:
# TRAFFIC_CONTROL_DEVICE
crashes.TRAFFIC_CONTROL_DEVICE.value_counts(dropna=False)

NO CONTROLS                 155074
TRAFFIC SIGNAL              100091
STOP SIGN/FLASHER            36095
NaN                           7341
LANE USE MARKING               961
YIELD                          555
OTHER REG. SIGN                407
OTHER WARNING SIGN             381
RAILROAD CROSSING GATE         230
PEDESTRIAN CROSSING SIGN       178
POLICE/FLAGMAN                 145
DELINEATORS                    114
SCHOOL ZONE                    112
FLASHING CONTROL SIGNAL        104
OTHER RAILROAD CROSSING         88
RR CROSSING SIGN                25
NO PASSING                      22
BICYCLE CROSSING SIGN           11
Name: TRAFFIC_CONTROL_DEVICE, dtype: int64

In [8]:
# DEVICE CONDITION
crashes.DEVICE_CONDITION.value_counts()

NO CONTROLS                 158074
FUNCTIONING PROPERLY        126925
FUNCTIONING IMPROPERLY        1878
NOT FUNCTIONING               1030
WORN REFLECTIVE MATERIAL       166
MISSING                         47
Name: DEVICE_CONDITION, dtype: int64

In [9]:
# WEATHER CONDITION
crashes.WEATHER_CONDITION.value_counts(dropna=False)

CLEAR                       241578
RAIN                         29088
SNOW                         12822
CLOUDY/OVERCAST              10216
NaN                           6655
FOG/SMOKE/HAZE                 533
SLEET/HAIL                     481
FREEZING RAIN/DRIZZLE          379
BLOWING SNOW                   107
SEVERE CROSS WIND GATE          74
BLOWING SAND, SOIL, DIRT         1
Name: WEATHER_CONDITION, dtype: int64

In [10]:
# LIGHTING_CONDITION
crashes.LIGHTING_CONDITION.value_counts(dropna=False)

DAYLIGHT                  202299
DARKNESS, LIGHTED ROAD     67970
DARKNESS                   13487
DUSK                        9466
DAWN                        5142
NaN                         3570
Name: LIGHTING_CONDITION, dtype: int64

In [11]:
# FIRST_CRASH_TYPE
crashes.FIRST_CRASH_TYPE.value_counts(dropna=False)

REAR END                        81494
TURNING                         52031
SIDESWIPE SAME DIRECTION        49186
PARKED MOTOR VEHICLE            42505
ANGLE                           38675
FIXED OBJECT                    12249
PEDESTRIAN                       6624
PEDALCYCLIST                     4404
SIDESWIPE OPPOSITE DIRECTION     4389
HEAD ON                          3022
REAR TO FRONT                    2281
OTHER OBJECT                     2156
REAR TO SIDE                     1338
OTHER NONCOLLISION                770
REAR TO REAR                      369
ANIMAL                            254
OVERTURNED                        163
TRAIN                              24
Name: FIRST_CRASH_TYPE, dtype: int64

In [12]:
# TRAFFICWAY_TYPE
crashes.TRAFFICWAY_TYPE.value_counts(dropna=False)

NOT DIVIDED                        133383
DIVIDED - W/MEDIAN (NOT RAISED)     58921
ONE-WAY                             33819
DIVIDED - W/MEDIAN BARRIER          21017
PARKING LOT                         16728
FOUR WAY                            13824
NaN                                 10259
ALLEY                                4269
CENTER TURN LANE                     3148
T-INTERSECTION                       2832
RAMP                                 1082
DRIVEWAY                              943
UNKNOWN INTERSECTION TYPE             695
FIVE POINT, OR MORE                   329
Y-INTERSECTION                        300
TRAFFIC ROUTE                         265
ROUNDABOUT                             70
L-INTERSECTION                         50
Name: TRAFFICWAY_TYPE, dtype: int64

In [14]:
# ALIGNMENT
crashes.ALIGNMENT.value_counts(dropna=False)

STRAIGHT AND LEVEL       293071
STRAIGHT ON GRADE          4435
CURVE, LEVEL               2634
STRAIGHT ON HILLCREST      1095
CURVE ON GRADE              538
CURVE ON HILLCREST          161
Name: ALIGNMENT, dtype: int64

In [15]:
# ROADWAY_SURFACE_COND
crashes.ROADWAY_SURFACE_COND.value_counts(dropna=False)

DRY                229490
WET                 44810
SNOW OR SLUSH       12417
NaN                 12401
ICE                  2684
SAND, MUD, DIRT       132
Name: ROADWAY_SURFACE_COND, dtype: int64

In [16]:
# CRASH_TYPE
crashes.CRASH_TYPE.value_counts(dropna=False)

NO INJURY / DRIVE AWAY              212152
INJURY AND / OR TOW DUE TO CRASH     89782
Name: CRASH_TYPE, dtype: int64

In [17]:
# INTERSECTION_RELATED_I
crashes.INTERSECTION_RELATED_I.value_counts(dropna=False)

NaN    216653
Y       81525
N        3756
Name: INTERSECTION_RELATED_I, dtype: int64

In [18]:
# HIT_AND_RUN_I
crashes.HIT_AND_RUN_I.value_counts(dropna=False)

NaN    233800
Y       64427
N        3707
Name: HIT_AND_RUN_I, dtype: int64

In [19]:
# DAMAGE
crashes.DAMAGE.value_counts(dropna=False)

OVER $1,500      184933
$501 - $1,500     80592
$500 OR LESS      36409
Name: DAMAGE, dtype: int64

In [20]:
# WORK_ZONE_I
crashes.WORK_ZONE_I.value_counts(dropna=False)

NaN    299625
Y        1877
N         432
Name: WORK_ZONE_I, dtype: int64

In [22]:
# MOST_SEVERE_INJURY
crashes.MOST_SEVERE_INJURY.value_counts(dropna=False)

NO INDICATION OF INJURY     254043
NONINCAPACITATING INJURY     26653
REPORTED, NOT EVIDENT        14622
INCAPACITATING INJURY         6031
FATAL                          319
NaN                            266
Name: MOST_SEVERE_INJURY, dtype: int64

In [23]:
# INJURIES_TOTAL
crashes.INJURIES_TOTAL.value_counts(dropna=False)

0.0     254046
1.0      34977
2.0       8437
3.0       2618
4.0        968
5.0        370
NaN        263
6.0        150
7.0         55
8.0         18
9.0         13
10.0         5
15.0         4
11.0         4
21.0         2
12.0         2
19.0         1
13.0         1
Name: INJURIES_TOTAL, dtype: int64

In [24]:
# INJURIES_FATAL
crashes.INJURIES_FATAL.value_counts(dropna=False)

0.0    301352
1.0       295
NaN       263
2.0        19
3.0         4
4.0         1
Name: INJURIES_FATAL, dtype: int64

In [28]:
# CRASH_HOUR
crashes.CRASH_HOUR.value_counts(dropna=False)

16    23815
17    23503
15    23279
14    20358
18    19126
13    18551
12    17552
8     16163
11    15781
9     14040
19    14013
10    13887
7     12940
20    11103
21     9842
22     9037
23     7635
6      6540
0      5864
1      4810
2      4161
5      3684
3      3269
4      2981
Name: CRASH_HOUR, dtype: int64

In [29]:
# CRASH_DAY_OF_WEEK
crashes.CRASH_DAY_OF_WEEK.value_counts(dropna=False)

6    49668
7    44620
5    43894
3    43231
4    43218
2    41541
1    35762
Name: CRASH_DAY_OF_WEEK, dtype: int64

In [30]:
# CRASH_MONTH
crashes.CRASH_MONTH.value_counts(dropna=False)

7     27590
6     27267
10    26937
5     26556
12    25891
11    24943
9     24788
1     24090
8     24061
3     23533
2     23502
4     22776
Name: CRASH_MONTH, dtype: int64

In [31]:
# LATITUDE
crashes.LATITUDE.describe()

count    300067.000000
mean         41.855609
std           0.360599
min           0.000000
25%          41.782473
50%          41.876351
75%          41.924712
max          42.022780
Name: LATITUDE, dtype: float64

In [32]:
# LONGITUDE
crashes.LONGITUDE.describe()

count    300067.000000
mean        -87.671858
std           0.735829
min         -87.934763
25%         -87.721060
50%         -87.670865
75%         -87.632267
max           0.000000
Name: LONGITUDE, dtype: float64

In [ ]:
# PRIM_CONTRIBUTORY_CAUSE
crashes.PRIM_CONTRIBUTORY_CAUSE.value_counts(dropna=False)

In [ ]:
vehicles = pd.read_csv('chicago_vehicles.csv')
# vehicles.dropna(axis=1, thresh = 0.25*vehicles.shape[0], inplace=True)
# (21,40,41,42,44,48,49,50,55,58,59,61,71) have mixed dtypes
vehicles.info()

In [ ]:
people = pd.read_csv('chicago_people.csv')
# Columns (12,13,20,21,22,23,24,25,26,27,29) have mixed dtypes
people.info()