In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
CRASHES_DROP = [
    'RD_NO',
    'CRASH_DATE_EST_I',
    'LANE_CNT',
    'REPORT_TYPE',
    'NOT_RIGHT_OF_WAY_I',
    'DATE_POLICE_NOTIFIED',
    'SEC_CONTRIBUTORY_CAUSE',
    'STREET_NO',
    'STREET_DIRECTION',
    'STREET_NAME',
    'BEAT_OF_OCCURRENCE',
    'PHOTOS_TAKEN_I',
    'STATEMENTS_TAKEN_I',
    'DOORING_I',
    'WORK_ZONE_TYPE',
    'WORKERS_PRESENT_I',
    'INJURIES_UNKNOWN',
    'INJURIES_INCAPACITATING',
    'INJURIES_NON_INCAPACITATING',
    'INJURIES_REPORTED_NOT_EVIDENT',
    'INJURIES_NO_INDICATION',
    'LOCATION'
]

In [3]:
NA_VALUES = [
    'UNKNOWN',
    'OTHER',
    'NOT APPLICABLE',
    'UNABLE TO DETERMINE',
    'NOT REPORTED',
]

In [4]:
crashes = pd.read_csv('chicago_crashes.csv',
                      na_values=NA_VALUES,
                      true_values=['Y'],
                      false_values=['N']
).drop(columns=CRASHES_DROP)

crashes_no_cause = crashes.loc[crashes['PRIM_CONTRIBUTORY_CAUSE'].isna(), :]

crashes.dropna(subset=['PRIM_CONTRIBUTORY_CAUSE'], axis=0, inplace=True)
# crashes.dropna(axis=1, how='any', thresh=0.05 * chi_crashes.shape[0], inplace=True)
crashes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301934 entries, 0 to 526552
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          301934 non-null  object
 1   CRASH_DATE               301934 non-null  object
 2   POSTED_SPEED_LIMIT       301934 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE   294593 non-null  object
 4   DEVICE_CONDITION         288120 non-null  object
 5   WEATHER_CONDITION        295279 non-null  object
 6   LIGHTING_CONDITION       298364 non-null  object
 7   FIRST_CRASH_TYPE         301934 non-null  object
 8   TRAFFICWAY_TYPE          291675 non-null  object
 9   ALIGNMENT                301934 non-null  object
 10  ROADWAY_SURFACE_COND     289533 non-null  object
 11  ROAD_DEFECT              263625 non-null  object
 12  CRASH_TYPE               301934 non-null  object
 13  INTERSECTION_RELATED_I   85281 non-null   object
 14  HIT_AND_RUN_I            68134 non-null   object
 15  DAMAGE                   301934 non-null  object
 16  PRIM_CONTRIBUTORY_CAUSE  301934 non-null  object
 17  WORK_ZONE_I              2309 non-null    object
 18  NUM_UNITS                301934 non-null  int64
 19  MOST_SEVERE_INJURY       301668 non-null  object
 20  INJURIES_TOTAL           301671 non-null  float64
 21  INJURIES_FATAL           301671 non-null  float64
 22  CRASH_HOUR               301934 non-null  int64
 23  CRASH_DAY_OF_WEEK        301934 non-null  int64
 24  CRASH_MONTH              301934 non-null  int64
 25  LATITUDE                 300067 non-null  float64
 26  LONGITUDE                300067 non-null  float64
dtypes: float64(4), int64(5), object(18)
memory usage: 64.5+ MB

In [5]:
# CRASH_DATE to CRASH_YEAR
crashes['CRASH_DATE'] = crashes['CRASH_DATE'].map(lambda x: pd.to_datetime(x).year)
crashes.rename({'CRASH_DATE': 'CRASH_YEAR'}, axis=1, inplace=True)

In [6]:
# Save as PKL file
with open('crashes.pkl', 'wb') as f:
    pd.to_pickle(crashes, f)

In [4]:
pd.read_csv('crashes.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301934 entries, 0 to 301933
Data columns (total 28 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               301934 non-null  int64
 1   CRASH_RECORD_ID          301934 non-null  object
 2   CRASH_YEAR               301934 non-null  int64
 3   POSTED_SPEED_LIMIT       301934 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE   294593 non-null  object
 5   DEVICE_CONDITION         288120 non-null  object
 6   WEATHER_CONDITION        295279 non-null  object
 7   LIGHTING_CONDITION       298364 non-null  object
 8   FIRST_CRASH_TYPE         301934 non-null  object
 9   TRAFFICWAY_TYPE          291675 non-null  object
 10  ALIGNMENT                301934 non-null  object
 11  ROADWAY_SURFACE_COND     289533 non-null  object
 12  ROAD_DEFECT              263625 non-null  object
 13  CRASH_TYPE               301934 non-null  object
 14  INTERSECTION_RELATED_I   85281 non-null   object
 15  HIT_AND_RUN_I            68134 non-null   object
 16  DAMAGE                   301934 non-null  object
 17  PRIM_CONTRIBUTORY_CAUSE  301934 non-null  object
 18  WORK_ZONE_I              2309 non-null    object
 19  NUM_UNITS                301934 non-null  int64
 20  MOST_SEVERE_INJURY       301668 non-null  object
 21  INJURIES_TOTAL           301671 non-null  float64
 22  INJURIES_FATAL           301671 non-null  float64
 23  CRASH_HOUR               301934 non-null  int64
 24  CRASH_DAY_OF_WEEK        301934 non-null  int64
 25  CRASH_MONTH              301934 non-null  int64
 26  LATITUDE                 300067 non-null  float64
 27  LONGITUDE                300067 non-null  float64
dtypes: float64(4), int64(7), object(17)
memory usage: 64.5+ MB

In [5]:
with open('crashes.pkl', 'rb') as f:
    pd.read_pickle(f).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301934 entries, 0 to 526552
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          301934 non-null  object
 1   CRASH_YEAR               301934 non-null  int64
 2   POSTED_SPEED_LIMIT       301934 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE   294593 non-null  object
 4   DEVICE_CONDITION         288120 non-null  object
 5   WEATHER_CONDITION        295279 non-null  object
 6   LIGHTING_CONDITION       298364 non-null  object
 7   FIRST_CRASH_TYPE         301934 non-null  object
 8   TRAFFICWAY_TYPE          291675 non-null  object
 9   ALIGNMENT                301934 non-null  object
 10  ROADWAY_SURFACE_COND     289533 non-null  object
 11  ROAD_DEFECT              263625 non-null  object
 12  CRASH_TYPE               301934 non-null  object
 13  INTERSECTION_RELATED_I   85281 non-null   object
 14  HIT_AND_RUN_I            68134 non-null   object
 15  DAMAGE                   301934 non-null  object
 16  PRIM_CONTRIBUTORY_CAUSE  301934 non-null  object
 17  WORK_ZONE_I              2309 non-null    object
 18  NUM_UNITS                301934 non-null  int64
 19  MOST_SEVERE_INJURY       301668 non-null  object
 20  INJURIES_TOTAL           301671 non-null  float64
 21  INJURIES_FATAL           301671 non-null  float64
 22  CRASH_HOUR               301934 non-null  int64
 23  CRASH_DAY_OF_WEEK        301934 non-null  int64
 24  CRASH_MONTH              301934 non-null  int64
 25  LATITUDE                 300067 non-null  float64
 26  LONGITUDE                300067 non-null  float64
dtypes: float64(4), int64(6), object(17)
memory usage: 64.5+ MB

In [8]:
# POSTED_SPEED_LIMIT
crashes.POSTED_SPEED_LIMIT.value_counts(dropna=False)

30    228051
35     22479
25     16109
20      9870
15      9252
10      4930
40      3406
0       3276
45      2163
5       1771
55       309
50        77
3         68
9         39
39        37
60        17
2         14
99         9
1          9
32         8
33         7
34         6
24         4
11         4
6          3
36         3
65         3
70         2
7          2
63         1
12         1
49         1
16         1
38         1
31         1
Name: POSTED_SPEED_LIMIT, dtype: int64

In [9]:
# TRAFFIC_CONTROL_DEVICE
crashes.TRAFFIC_CONTROL_DEVICE.value_counts(dropna=False)

NO CONTROLS                 155074
TRAFFIC SIGNAL              100091
STOP SIGN/FLASHER            36095
NaN                           7341
LANE USE MARKING               961
YIELD                          555
OTHER REG. SIGN                407
OTHER WARNING SIGN             381
RAILROAD CROSSING GATE         230
PEDESTRIAN CROSSING SIGN       178
POLICE/FLAGMAN                 145
DELINEATORS                    114
SCHOOL ZONE                    112
FLASHING CONTROL SIGNAL        104
OTHER RAILROAD CROSSING         88
RR CROSSING SIGN                25
NO PASSING                      22
BICYCLE CROSSING SIGN           11
Name: TRAFFIC_CONTROL_DEVICE, dtype: int64

In [10]:
# DEVICE CONDITION
crashes.DEVICE_CONDITION.value_counts(dropna=False)

NO CONTROLS                 158074
FUNCTIONING PROPERLY        126925
NaN                          13814
FUNCTIONING IMPROPERLY        1878
NOT FUNCTIONING               1030
WORN REFLECTIVE MATERIAL       166
MISSING                         47
Name: DEVICE_CONDITION, dtype: int64

In [11]:
# WEATHER CONDITION
crashes.WEATHER_CONDITION.value_counts(dropna=False)

CLEAR                       241578
RAIN                         29088
SNOW                         12822
CLOUDY/OVERCAST              10216
NaN                           6655
FOG/SMOKE/HAZE                 533
SLEET/HAIL                     481
FREEZING RAIN/DRIZZLE          379
BLOWING SNOW                   107
SEVERE CROSS WIND GATE          74
BLOWING SAND, SOIL, DIRT         1
Name: WEATHER_CONDITION, dtype: int64

In [12]:
# LIGHTING_CONDITION
crashes.LIGHTING_CONDITION.value_counts(dropna=False)

DAYLIGHT                  202299
DARKNESS, LIGHTED ROAD     67970
DARKNESS                   13487
DUSK                        9466
DAWN                        5142
NaN                         3570
Name: LIGHTING_CONDITION, dtype: int64

In [13]:
# FIRST_CRASH_TYPE
crashes.FIRST_CRASH_TYPE.value_counts(dropna=False)

REAR END                        81494
TURNING                         52031
SIDESWIPE SAME DIRECTION        49186
PARKED MOTOR VEHICLE            42505
ANGLE                           38675
FIXED OBJECT                    12249
PEDESTRIAN                       6624
PEDALCYCLIST                     4404
SIDESWIPE OPPOSITE DIRECTION     4389
HEAD ON                          3022
REAR TO FRONT                    2281
OTHER OBJECT                     2156
REAR TO SIDE                     1338
OTHER NONCOLLISION                770
REAR TO REAR                      369
ANIMAL                            254
OVERTURNED                        163
TRAIN                              24
Name: FIRST_CRASH_TYPE, dtype: int64

In [14]:
# TRAFFICWAY_TYPE
crashes.TRAFFICWAY_TYPE.value_counts(dropna=False)

NOT DIVIDED                        133383
DIVIDED - W/MEDIAN (NOT RAISED)     58921
ONE-WAY                             33819
DIVIDED - W/MEDIAN BARRIER          21017
PARKING LOT                         16728
FOUR WAY                            13824
NaN                                 10259
ALLEY                                4269
CENTER TURN LANE                     3148
T-INTERSECTION                       2832
RAMP                                 1082
DRIVEWAY                              943
UNKNOWN INTERSECTION TYPE             695
FIVE POINT, OR MORE                   329
Y-INTERSECTION                        300
TRAFFIC ROUTE                         265
ROUNDABOUT                             70
L-INTERSECTION                         50
Name: TRAFFICWAY_TYPE, dtype: int64

In [15]:
# ALIGNMENT
crashes.ALIGNMENT.value_counts(dropna=False)

STRAIGHT AND LEVEL       293071
STRAIGHT ON GRADE          4435
CURVE, LEVEL               2634
STRAIGHT ON HILLCREST      1095
CURVE ON GRADE              538
CURVE ON HILLCREST          161
Name: ALIGNMENT, dtype: int64

In [16]:
# ROADWAY_SURFACE_COND
crashes.ROADWAY_SURFACE_COND.value_counts(dropna=False)

DRY                229490
WET                 44810
SNOW OR SLUSH       12417
NaN                 12401
ICE                  2684
SAND, MUD, DIRT       132
Name: ROADWAY_SURFACE_COND, dtype: int64

In [17]:
# CRASH_TYPE
crashes.CRASH_TYPE.value_counts(dropna=False)

NO INJURY / DRIVE AWAY              212152
INJURY AND / OR TOW DUE TO CRASH     89782
Name: CRASH_TYPE, dtype: int64

In [18]:
# INTERSECTION_RELATED_I
crashes.INTERSECTION_RELATED_I.value_counts(dropna=False)

NaN      216653
True      81525
False      3756
Name: INTERSECTION_RELATED_I, dtype: int64

In [19]:
# HIT_AND_RUN_I
crashes.HIT_AND_RUN_I.value_counts(dropna=False)

NaN      233800
True      64427
False      3707
Name: HIT_AND_RUN_I, dtype: int64

In [20]:
# DAMAGE
crashes.DAMAGE.value_counts(dropna=False)

OVER $1,500      184933
$501 - $1,500     80592
$500 OR LESS      36409
Name: DAMAGE, dtype: int64

In [21]:
# WORK_ZONE_I
crashes.WORK_ZONE_I.value_counts(dropna=False)

NaN      299625
True       1877
False       432
Name: WORK_ZONE_I, dtype: int64

In [22]:
# MOST_SEVERE_INJURY
crashes.MOST_SEVERE_INJURY.value_counts(dropna=False)

NO INDICATION OF INJURY     254043
NONINCAPACITATING INJURY     26653
REPORTED, NOT EVIDENT        14622
INCAPACITATING INJURY         6031
FATAL                          319
NaN                            266
Name: MOST_SEVERE_INJURY, dtype: int64

In [23]:
# INJURIES_TOTAL
crashes.INJURIES_TOTAL.value_counts(dropna=False)

0.0     254046
1.0      34977
2.0       8437
3.0       2618
4.0        968
5.0        370
NaN        263
6.0        150
7.0         55
8.0         18
9.0         13
10.0         5
15.0         4
11.0         4
21.0         2
12.0         2
19.0         1
13.0         1
Name: INJURIES_TOTAL, dtype: int64

In [24]:
# INJURIES_FATAL
crashes.INJURIES_FATAL.value_counts(dropna=False)

0.0    301352
1.0       295
NaN       263
2.0        19
3.0         4
4.0         1
Name: INJURIES_FATAL, dtype: int64

In [25]:
# CRASH_HOUR
crashes.CRASH_HOUR.value_counts(dropna=False)

16    23815
17    23503
15    23279
14    20358
18    19126
13    18551
12    17552
8     16163
11    15781
9     14040
19    14013
10    13887
7     12940
20    11103
21     9842
22     9037
23     7635
6      6540
0      5864
1      4810
2      4161
5      3684
3      3269
4      2981
Name: CRASH_HOUR, dtype: int64

In [26]:
# CRASH_DAY_OF_WEEK
crashes.CRASH_DAY_OF_WEEK.value_counts(dropna=False)

6    49668
7    44620
5    43894
3    43231
4    43218
2    41541
1    35762
Name: CRASH_DAY_OF_WEEK, dtype: int64

In [27]:
# CRASH_MONTH
crashes.CRASH_MONTH.value_counts(dropna=False)

7     27590
6     27267
10    26937
5     26556
12    25891
11    24943
9     24788
1     24090
8     24061
3     23533
2     23502
4     22776
Name: CRASH_MONTH, dtype: int64

In [28]:
# LATITUDE
crashes.LATITUDE.describe()

count    300067.000000
mean         41.855609
std           0.360599
min           0.000000
25%          41.782473
50%          41.876351
75%          41.924712
max          42.022780
Name: LATITUDE, dtype: float64

In [29]:
# LONGITUDE
crashes.LONGITUDE.describe()

count    300067.000000
mean        -87.671858
std           0.735829
min         -87.934763
25%         -87.721060
50%         -87.670865
75%         -87.632267
max           0.000000
Name: LONGITUDE, dtype: float64

In [30]:
# PRIM_CONTRIBUTORY_CAUSE
crashes.PRIM_CONTRIBUTORY_CAUSE.value_counts(dropna=False)

FAILING TO YIELD RIGHT-OF-WAY                                                       57579
FOLLOWING TOO CLOSELY                                                               55033
IMPROPER OVERTAKING/PASSING                                                         25039
FAILING TO REDUCE SPEED TO AVOID CRASH                                              22779
IMPROPER BACKING                                                                    22730
IMPROPER LANE USAGE                                                                 20134
IMPROPER TURNING/NO SIGNAL                                                          17415
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                 16645
DISREGARDING TRAFFIC SIGNALS                                                         9743
WEATHER                                                                              8699
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER     6727
DISREGARDING STOP SIGN                                                               5890
DISTRACTION - FROM INSIDE VEHICLE                                                    3860
EQUIPMENT - VEHICLE CONDITION                                                        3331
PHYSICAL CONDITION OF DRIVER                                                         3147
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                 3077
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                   2798
DRIVING ON WRONG SIDE/WRONG WAY                                                      2565
DISTRACTION - FROM OUTSIDE VEHICLE                                                   2335
EXCEEDING AUTHORIZED SPEED LIMIT                                                     1982
EXCEEDING SAFE SPEED FOR CONDITIONS                                                  1684
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                             1430
ROAD CONSTRUCTION/MAINTENANCE                                                        1257
DISREGARDING OTHER TRAFFIC SIGNS                                                     1134
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                     990
CELL PHONE USE OTHER THAN TEXTING                                                     751
DISREGARDING ROAD MARKINGS                                                            712
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                       590
ANIMAL                                                                                447
TURNING RIGHT ON RED                                                                  372
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)           253
TEXTING                                                                               229
DISREGARDING YIELD SIGN                                                               195
RELATED TO BUS STOP                                                                   188
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                 70
PASSING STOPPED SCHOOL BUS                                                             69
OBSTRUCTED CROSSWALKS                                                                  36
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                              19
Name: PRIM_CONTRIBUTORY_CAUSE, dtype: int64

In [31]:
vehicles = pd.read_csv('chicago_vehicles.csv')
# vehicles.dropna(axis=1, thresh = 0.25*vehicles.shape[0], inplace=True)
# (21,40,41,42,44,48,49,50,55,58,59,61,71) have mixed dtypes
vehicles.info()

/Users/iansharff/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (21,40,41,42,44,48,49,50,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401378 entries, 0 to 401377
Data columns (total 72 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CRASH_UNIT_ID             401378 non-null  int64
 1   CRASH_RECORD_ID           401378 non-null  object
 2   RD_NO                     401377 non-null  object
 3   CRASH_DATE                401377 non-null  object
 4   UNIT_NO                   401377 non-null  float64
 5   UNIT_TYPE                 399973 non-null  object
 6   NUM_PASSENGERS            63614 non-null   float64
 7   VEHICLE_ID                391220 non-null  float64
 8   CMRC_VEH_I                6801 non-null    object
 9   MAKE                      391215 non-null  object
 10  MODEL                     391073 non-null  object
 11  LIC_PLATE_STATE           358474 non-null  object
 12  VEHICLE_YEAR              328702 non-null  float64
 13  VEHICLE_DEFECT            391220 non-null  object
 14  VEHICLE_TYPE              391220 non-null  object
 15  VEHICLE_USE               391220 non-null  object
 16  TRAVEL_DIRECTION          391220 non-null  object
 17  MANEUVER                  391220 non-null  object
 18  TOWED_I                   46132 non-null   object
 19  FIRE_I                    336 non-null     object
 20  OCCUPANT_CNT              391220 non-null  float64
 21  EXCEED_SPEED_LIMIT_I      1011 non-null    object
 22  TOWED_BY                  33145 non-null   object
 23  TOWED_TO                  21088 non-null   object
 24  AREA_00_I                 15382 non-null   object
 25  AREA_01_I                 105374 non-null  object
 26  AREA_02_I                 66354 non-null   object
 27  AREA_03_I                 37733 non-null   object
 28  AREA_04_I                 38980 non-null   object
 29  AREA_05_I                 62454 non-null   object
 30  AREA_06_I                 59544 non-null   object
 31  AREA_07_I                 52277 non-null   object
 32  AREA_08_I                 64888 non-null   object
 33  AREA_09_I                 17932 non-null   object
 34  AREA_10_I                 25946 non-null   object
 35  AREA_11_I                 51808 non-null   object
 36  AREA_12_I                 50803 non-null   object
 37  AREA_99_I                 43163 non-null   object
 38  FIRST_CONTACT_POINT       388447 non-null  object
 39  CMV_ID                    3761 non-null    float64
 40  USDOT_NO                  2190 non-null    object
 41  CCMC_NO                   494 non-null     object
 42  ILCC_NO                   367 non-null     object
 43  COMMERCIAL_SRC            2682 non-null    object
 44  GVWR                      2207 non-null    object
 45  CARRIER_NAME              3623 non-null    object
 46  CARRIER_STATE             3389 non-null    object
 47  CARRIER_CITY              3339 non-null    object
 48  HAZMAT_PLACARDS_I         79 non-null      object
 49  HAZMAT_NAME               12 non-null      object
 50  UN_NO                     148 non-null     object
 51  HAZMAT_PRESENT_I          2792 non-null    object
 52  HAZMAT_REPORT_I           2705 non-null    object
 53  HAZMAT_REPORT_NO          0 non-null       float64
 54  MCS_REPORT_I              2712 non-null    object
 55  MCS_REPORT_NO             3 non-null       object
 56  HAZMAT_VIO_CAUSE_CRASH_I  2740 non-null    object
 57  MCS_VIO_CAUSE_CRASH_I     2700 non-null    object
 58  IDOT_PERMIT_NO            225 non-null     object
 59  WIDE_LOAD_I               34 non-null      object
 60  TRAILER1_WIDTH            818 non-null     object
 61  TRAILER2_WIDTH            83 non-null      object
 62  TRAILER1_LENGTH           670 non-null     float64
 63  TRAILER2_LENGTH           19 non-null      float64
 64  TOTAL_VEHICLE_LENGTH      813 non-null     float64
 65  AXLE_CNT                  1117 non-null    float64
 66  VEHICLE_CONFIG            3125 non-null    object
 67  CARGO_BODY_TYPE           3010 non-null    object
 68  LOAD_TYPE                 2900 non-null    object
 69  HAZMAT_OUT_OF_SERVICE_I   2633 non-null    object
 70  MCS_OUT_OF_SERVICE_I      2708 non-null    object
 71  HAZMAT_CLASS              253 non-null     object
dtypes: float64(11), int64(1), object(60)
memory usage: 220.5+ MB

In [32]:
people = pd.read_csv('chicago_people.csv')
# Columns (12,13,20,21,22,23,24,25,26,27,29) have mixed dtypes
people.info()

/Users/iansharff/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (12,13,20,21,22,23,24,25,26,27,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1163545 entries, 0 to 1163544
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1163545 non-null  object
 1   PERSON_TYPE            1163545 non-null  object
 2   CRASH_RECORD_ID        1163545 non-null  object
 3   RD_NO                  1153773 non-null  object
 4   VEHICLE_ID             1140646 non-null  float64
 5   CRASH_DATE             1163545 non-null  object
 6   SEAT_NO                237977 non-null   float64
 7   CITY                   857009 non-null   object
 8   STATE                  867050 non-null   object
 9   ZIPCODE                782529 non-null   object
 10  SEX                    1146042 non-null  object
 11  AGE                    830249 non-null   float64
 12  DRIVERS_LICENSE_STATE  687246 non-null   object
 13  DRIVERS_LICENSE_CLASS  593382 non-null   object
 14  SAFETY_EQUIPMENT       1160131 non-null  object
 15  AIRBAG_DEPLOYED        1141623 non-null  object
 16  EJECTION               1149363 non-null  object
 17  INJURY_CLASSIFICATION  1162960 non-null  object
 18  HOSPITAL               210077 non-null   object
 19  EMS_AGENCY             133041 non-null   object
 20  EMS_RUN_NO             21752 non-null    object
 21  DRIVER_ACTION          923341 non-null   object
 22  DRIVER_VISION          923024 non-null   object
 23  PHYSICAL_CONDITION     924014 non-null   object
 24  PEDPEDAL_ACTION        21542 non-null    object
 25  PEDPEDAL_VISIBILITY    21494 non-null    object
 26  PEDPEDAL_LOCATION      21541 non-null    object
 27  BAC_RESULT             924451 non-null   object
 28  BAC_RESULT VALUE       1477 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 266.3+ MB