In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
CRASHES_DROP = [
    'RD_NO',
    'CRASH_DATE_EST_I',
    'LANE_CNT',
    'REPORT_TYPE',
    'NOT_RIGHT_OF_WAY_I',
    'DATE_POLICE_NOTIFIED',
    'SEC_CONTRIBUTORY_CAUSE',
    'STREET_NO',
    'STREET_DIRECTION',
    'STREET_NAME',
    'BEAT_OF_OCCURRENCE',
    'PHOTOS_TAKEN_I',
    'STATEMENTS_TAKEN_I',
    'DOORING_I',
    'WORK_ZONE_TYPE',
    'WORKERS_PRESENT_I',
    'INJURIES_UNKNOWN',
    'INJURIES_INCAPACITATING',
    'INJURIES_NON_INCAPACITATING',
    'INJURIES_REPORTED_NOT_EVIDENT',
    'INJURIES_NO_INDICATION',
    'LOCATION'
]

In [3]:
NA_VALUES = [
    'UNKNOWN',
    'OTHER',
    'NOT APPLICABLE',
    'UNABLE TO DETERMINE',
    'NOT REPORTED',
]

In [4]:
crashes = pd.read_csv('chicago_crashes.csv',
                      na_values=NA_VALUES,
                      true_values=['Y'],
                      false_values=['N']
).drop(columns=CRASHES_DROP)

crashes_no_cause = crashes.loc[crashes['PRIM_CONTRIBUTORY_CAUSE'].isna(), :]

crashes.dropna(subset=['PRIM_CONTRIBUTORY_CAUSE'], axis=0, inplace=True)
# crashes.dropna(axis=1, how='any', thresh=0.05 * chi_crashes.shape[0], inplace=True)
crashes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301934 entries, 0 to 526552
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          301934 non-null  object
 1   CRASH_DATE               301934 non-null  object
 2   POSTED_SPEED_LIMIT       301934 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE   294593 non-null  object
 4   DEVICE_CONDITION         288120 non-null  object
 5   WEATHER_CONDITION        295279 non-null  object
 6   LIGHTING_CONDITION       298364 non-null  object
 7   FIRST_CRASH_TYPE         301934 non-null  object
 8   TRAFFICWAY_TYPE          291675 non-null  object
 9   ALIGNMENT                301934 non-null  object
 10  ROADWAY_SURFACE_COND     289533 non-null  object
 11  ROAD_DEFECT              263625 non-null  object
 12  CRASH_TYPE               301934 non-null  object
 13  INTERSECTION_RELATED_I   85281 non-null   object
 14  HIT_AND_RUN_I            68134 non-null   object
 15  DAMAGE                   301934 non-null  object
 16  PRIM_CONTRIBUTORY_CAUSE  301934 non-null  object
 17  WORK_ZONE_I              2309 non-null    object
 18  NUM_UNITS                301934 non-null  int64
 19  MOST_SEVERE_INJURY       301668 non-null  object
 20  INJURIES_TOTAL           301671 non-null  float64
 21  INJURIES_FATAL           301671 non-null  float64
 22  CRASH_HOUR               301934 non-null  int64
 23  CRASH_DAY_OF_WEEK        301934 non-null  int64
 24  CRASH_MONTH              301934 non-null  int64
 25  LATITUDE                 300067 non-null  float64
 26  LONGITUDE                300067 non-null  float64
dtypes: float64(4), int64(5), object(18)
memory usage: 64.5+ MB

In [5]:
# CRASH_DATE to CRASH_YEAR
crashes['CRASH_DATE'] = crashes['CRASH_DATE'].map(lambda x: pd.to_datetime(x).year)
crashes.rename({'CRASH_DATE': 'CRASH_YEAR'}, axis=1, inplace=True)

In [6]:
# Save as PKL file
with open('crashes.pkl', 'wb') as f:
    pd.to_pickle(crashes, f)

In [8]:
with open('crashes.pkl', 'rb') as f:
    pd.read_pickle(f).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301934 entries, 0 to 526552
Data columns (total 27 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          301934 non-null  object
 1   CRASH_YEAR               301934 non-null  int64
 2   POSTED_SPEED_LIMIT       301934 non-null  int64
 3   TRAFFIC_CONTROL_DEVICE   294593 non-null  object
 4   DEVICE_CONDITION         288120 non-null  object
 5   WEATHER_CONDITION        295279 non-null  object
 6   LIGHTING_CONDITION       298364 non-null  object
 7   FIRST_CRASH_TYPE         301934 non-null  object
 8   TRAFFICWAY_TYPE          291675 non-null  object
 9   ALIGNMENT                301934 non-null  object
 10  ROADWAY_SURFACE_COND     289533 non-null  object
 11  ROAD_DEFECT              263625 non-null  object
 12  CRASH_TYPE               301934 non-null  object
 13  INTERSECTION_RELATED_I   85281 non-null   object
 14  HIT_AND_RUN_I            68134 non-null   object
 15  DAMAGE                   301934 non-null  object
 16  PRIM_CONTRIBUTORY_CAUSE  301934 non-null  object
 17  WORK_ZONE_I              2309 non-null    object
 18  NUM_UNITS                301934 non-null  int64
 19  MOST_SEVERE_INJURY       301668 non-null  object
 20  INJURIES_TOTAL           301671 non-null  float64
 21  INJURIES_FATAL           301671 non-null  float64
 22  CRASH_HOUR               301934 non-null  int64
 23  CRASH_DAY_OF_WEEK        301934 non-null  int64
 24  CRASH_MONTH              301934 non-null  int64
 25  LATITUDE                 300067 non-null  float64
 26  LONGITUDE                300067 non-null  float64
dtypes: float64(4), int64(6), object(17)
memory usage: 64.5+ MB

In [9]:
# POSTED_SPEED_LIMIT
crashes.POSTED_SPEED_LIMIT.value_counts(dropna=False)

30    228051
35     22479
25     16109
20      9870
15      9252
10      4930
40      3406
0       3276
45      2163
5       1771
55       309
50        77
3         68
9         39
39        37
60        17
2         14
99         9
1          9
32         8
33         7
34         6
24         4
11         4
6          3
36         3
65         3
70         2
7          2
63         1
12         1
49         1
16         1
38         1
31         1
Name: POSTED_SPEED_LIMIT, dtype: int64

In [10]:
# TRAFFIC_CONTROL_DEVICE
crashes.TRAFFIC_CONTROL_DEVICE.value_counts(dropna=False)

NO CONTROLS                 155074
TRAFFIC SIGNAL              100091
STOP SIGN/FLASHER            36095
NaN                           7341
LANE USE MARKING               961
YIELD                          555
OTHER REG. SIGN                407
OTHER WARNING SIGN             381
RAILROAD CROSSING GATE         230
PEDESTRIAN CROSSING SIGN       178
POLICE/FLAGMAN                 145
DELINEATORS                    114
SCHOOL ZONE                    112
FLASHING CONTROL SIGNAL        104
OTHER RAILROAD CROSSING         88
RR CROSSING SIGN                25
NO PASSING                      22
BICYCLE CROSSING SIGN           11
Name: TRAFFIC_CONTROL_DEVICE, dtype: int64

In [11]:
# DEVICE CONDITION
crashes.DEVICE_CONDITION.value_counts(dropna=False)

NO CONTROLS                 158074
FUNCTIONING PROPERLY        126925
NaN                          13814
FUNCTIONING IMPROPERLY        1878
NOT FUNCTIONING               1030
WORN REFLECTIVE MATERIAL       166
MISSING                         47
Name: DEVICE_CONDITION, dtype: int64

In [12]:
# WEATHER CONDITION
crashes.WEATHER_CONDITION.value_counts(dropna=False)

CLEAR                       241578
RAIN                         29088
SNOW                         12822
CLOUDY/OVERCAST              10216
NaN                           6655
FOG/SMOKE/HAZE                 533
SLEET/HAIL                     481
FREEZING RAIN/DRIZZLE          379
BLOWING SNOW                   107
SEVERE CROSS WIND GATE          74
BLOWING SAND, SOIL, DIRT         1
Name: WEATHER_CONDITION, dtype: int64

In [13]:
# LIGHTING_CONDITION
crashes.LIGHTING_CONDITION.value_counts(dropna=False)

DAYLIGHT                  202299
DARKNESS, LIGHTED ROAD     67970
DARKNESS                   13487
DUSK                        9466
DAWN                        5142
NaN                         3570
Name: LIGHTING_CONDITION, dtype: int64

In [14]:
# FIRST_CRASH_TYPE
crashes.FIRST_CRASH_TYPE.value_counts(dropna=False)

REAR END                        81494
TURNING                         52031
SIDESWIPE SAME DIRECTION        49186
PARKED MOTOR VEHICLE            42505
ANGLE                           38675
FIXED OBJECT                    12249
PEDESTRIAN                       6624
PEDALCYCLIST                     4404
SIDESWIPE OPPOSITE DIRECTION     4389
HEAD ON                          3022
REAR TO FRONT                    2281
OTHER OBJECT                     2156
REAR TO SIDE                     1338
OTHER NONCOLLISION                770
REAR TO REAR                      369
ANIMAL                            254
OVERTURNED                        163
TRAIN                              24
Name: FIRST_CRASH_TYPE, dtype: int64

In [15]:
# TRAFFICWAY_TYPE
crashes.TRAFFICWAY_TYPE.value_counts(dropna=False)

NOT DIVIDED                        133383
DIVIDED - W/MEDIAN (NOT RAISED)     58921
ONE-WAY                             33819
DIVIDED - W/MEDIAN BARRIER          21017
PARKING LOT                         16728
FOUR WAY                            13824
NaN                                 10259
ALLEY                                4269
CENTER TURN LANE                     3148
T-INTERSECTION                       2832
RAMP                                 1082
DRIVEWAY                              943
UNKNOWN INTERSECTION TYPE             695
FIVE POINT, OR MORE                   329
Y-INTERSECTION                        300
TRAFFIC ROUTE                         265
ROUNDABOUT                             70
L-INTERSECTION                         50
Name: TRAFFICWAY_TYPE, dtype: int64

In [16]:
# ALIGNMENT
crashes.ALIGNMENT.value_counts(dropna=False)

STRAIGHT AND LEVEL       293071
STRAIGHT ON GRADE          4435
CURVE, LEVEL               2634
STRAIGHT ON HILLCREST      1095
CURVE ON GRADE              538
CURVE ON HILLCREST          161
Name: ALIGNMENT, dtype: int64

In [17]:
# ROADWAY_SURFACE_COND
crashes.ROADWAY_SURFACE_COND.value_counts(dropna=False)

DRY                229490
WET                 44810
SNOW OR SLUSH       12417
NaN                 12401
ICE                  2684
SAND, MUD, DIRT       132
Name: ROADWAY_SURFACE_COND, dtype: int64

In [18]:
# CRASH_TYPE
crashes.CRASH_TYPE.value_counts(dropna=False)

NO INJURY / DRIVE AWAY              212152
INJURY AND / OR TOW DUE TO CRASH     89782
Name: CRASH_TYPE, dtype: int64

In [19]:
# INTERSECTION_RELATED_I
crashes.INTERSECTION_RELATED_I.value_counts(dropna=False)

NaN      216653
True      81525
False      3756
Name: INTERSECTION_RELATED_I, dtype: int64

In [20]:
# HIT_AND_RUN_I
crashes.HIT_AND_RUN_I.value_counts(dropna=False)

NaN      233800
True      64427
False      3707
Name: HIT_AND_RUN_I, dtype: int64

In [21]:
# DAMAGE
crashes.DAMAGE.value_counts(dropna=False)

OVER $1,500      184933
$501 - $1,500     80592
$500 OR LESS      36409
Name: DAMAGE, dtype: int64

In [22]:
# WORK_ZONE_I
crashes.WORK_ZONE_I.value_counts(dropna=False)

NaN      299625
True       1877
False       432
Name: WORK_ZONE_I, dtype: int64

In [23]:
# MOST_SEVERE_INJURY
crashes.MOST_SEVERE_INJURY.value_counts(dropna=False)

NO INDICATION OF INJURY     254043
NONINCAPACITATING INJURY     26653
REPORTED, NOT EVIDENT        14622
INCAPACITATING INJURY         6031
FATAL                          319
NaN                            266
Name: MOST_SEVERE_INJURY, dtype: int64

In [24]:
# INJURIES_TOTAL
crashes.INJURIES_TOTAL.value_counts(dropna=False)

0.0     254046
1.0      34977
2.0       8437
3.0       2618
4.0        968
5.0        370
NaN        263
6.0        150
7.0         55
8.0         18
9.0         13
10.0         5
15.0         4
11.0         4
21.0         2
12.0         2
19.0         1
13.0         1
Name: INJURIES_TOTAL, dtype: int64

In [25]:
# INJURIES_FATAL
crashes.INJURIES_FATAL.value_counts(dropna=False)

0.0    301352
1.0       295
NaN       263
2.0        19
3.0         4
4.0         1
Name: INJURIES_FATAL, dtype: int64

In [26]:
# CRASH_HOUR
crashes.CRASH_HOUR.value_counts(dropna=False)

16    23815
17    23503
15    23279
14    20358
18    19126
13    18551
12    17552
8     16163
11    15781
9     14040
19    14013
10    13887
7     12940
20    11103
21     9842
22     9037
23     7635
6      6540
0      5864
1      4810
2      4161
5      3684
3      3269
4      2981
Name: CRASH_HOUR, dtype: int64

In [27]:
# CRASH_DAY_OF_WEEK
crashes.CRASH_DAY_OF_WEEK.value_counts(dropna=False)

6    49668
7    44620
5    43894
3    43231
4    43218
2    41541
1    35762
Name: CRASH_DAY_OF_WEEK, dtype: int64

In [28]:
# CRASH_MONTH
crashes.CRASH_MONTH.value_counts(dropna=False)

7     27590
6     27267
10    26937
5     26556
12    25891
11    24943
9     24788
1     24090
8     24061
3     23533
2     23502
4     22776
Name: CRASH_MONTH, dtype: int64

In [29]:
# LATITUDE
crashes.LATITUDE.describe()

count    300067.000000
mean         41.855609
std           0.360599
min           0.000000
25%          41.782473
50%          41.876351
75%          41.924712
max          42.022780
Name: LATITUDE, dtype: float64

In [30]:
# LONGITUDE
crashes.LONGITUDE.describe()

count    300067.000000
mean        -87.671858
std           0.735829
min         -87.934763
25%         -87.721060
50%         -87.670865
75%         -87.632267
max           0.000000
Name: LONGITUDE, dtype: float64

In [31]:
# PRIM_CONTRIBUTORY_CAUSE
crashes.PRIM_CONTRIBUTORY_CAUSE.value_counts(dropna=False)

FAILING TO YIELD RIGHT-OF-WAY                                                       57579
FOLLOWING TOO CLOSELY                                                               55033
IMPROPER OVERTAKING/PASSING                                                         25039
FAILING TO REDUCE SPEED TO AVOID CRASH                                              22779
IMPROPER BACKING                                                                    22730
IMPROPER LANE USAGE                                                                 20134
IMPROPER TURNING/NO SIGNAL                                                          17415
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                 16645
DISREGARDING TRAFFIC SIGNALS                                                         9743
WEATHER                                                                              8699
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER     6727
DISREGARDING STOP SIGN                                                               5890
DISTRACTION - FROM INSIDE VEHICLE                                                    3860
EQUIPMENT - VEHICLE CONDITION                                                        3331
PHYSICAL CONDITION OF DRIVER                                                         3147
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                 3077
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                   2798
DRIVING ON WRONG SIDE/WRONG WAY                                                      2565
DISTRACTION - FROM OUTSIDE VEHICLE                                                   2335
EXCEEDING AUTHORIZED SPEED LIMIT                                                     1982
EXCEEDING SAFE SPEED FOR CONDITIONS                                                  1684
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                             1430
ROAD CONSTRUCTION/MAINTENANCE                                                        1257
DISREGARDING OTHER TRAFFIC SIGNS                                                     1134
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                     990
CELL PHONE USE OTHER THAN TEXTING                                                     751
DISREGARDING ROAD MARKINGS                                                            712
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                       590
ANIMAL                                                                                447
TURNING RIGHT ON RED                                                                  372
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)           253
TEXTING                                                                               229
DISREGARDING YIELD SIGN                                                               195
RELATED TO BUS STOP                                                                   188
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                 70
PASSING STOPPED SCHOOL BUS                                                             69
OBSTRUCTED CROSSWALKS                                                                  36
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                              19
Name: PRIM_CONTRIBUTORY_CAUSE, dtype: int64

In [41]:
VEHICLES_USE = [
    'CRASH_UNIT_ID',
    'CRASH_RECORD_ID',
    'VEHICLE_ID',
    'UNIT_NO',
    'UNIT_TYPE',
    'NUM_PASSENGERS',
    'VEHICLE_YEAR',
    'VEHICLE_DEFECT',
    'VEHICLE_TYPE',
    'VEHICLE_USE',
    'OCCUPANT_CNT',
]

In [42]:
vehicles = pd.read_csv('chicago_vehicles.csv',
                       usecols=VEHICLES_USE,
                       na_values=NA_VALUES
)
# vehicles.dropna(axis=1, thresh = 0.25*vehicles.shape[0], inplace=True)
# (21,40,41,42,44,48,49,50,55,58,59,61,71) have mixed dtypes
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401378 entries, 0 to 401377
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CRASH_UNIT_ID    401378 non-null  int64
 1   CRASH_RECORD_ID  401378 non-null  object
 2   UNIT_NO          401377 non-null  float64
 3   UNIT_TYPE        399973 non-null  object
 4   NUM_PASSENGERS   63614 non-null   float64
 5   VEHICLE_ID       391220 non-null  float64
 6   VEHICLE_YEAR     328702 non-null  float64
 7   VEHICLE_DEFECT   229825 non-null  object
 8   VEHICLE_TYPE     387007 non-null  object
 9   VEHICLE_USE      379727 non-null  object
 10  OCCUPANT_CNT     391220 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 33.7+ MB

In [45]:
vehicles.groupby('CRASH_RECORD_ID').agg(['count', 'sum'])

                                                   CRASH_UNIT_ID           \
                                                           count      sum
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...             2  1990327
0000c280b9c15e9ec96aa2eed34bf0f3ef1d604c6ea4609...             2   589957
0001301de281cb6fc82102d9f9decef9c0a40f5481c9033...             2  1786401
000179b336bde73b863dc447f21d58ff88216fc4835c97e...             2   396175
000269a5deff340f7786f8f5559448428beafef600f7869...             2  1757177
...                                                          ...      ...
ffffa5df104993cd362c8c876fe3f5f54b293a6878b40a5...             2  1873017
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...             2   424691
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...             2  1945943
ffffc802346fd6f48f99117898fbc558237a3052c327b87...             2  1853769
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...             2  1692679

                                                   UNIT_NO       \
                                                     count  sum
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...       2  3.0
0000c280b9c15e9ec96aa2eed34bf0f3ef1d604c6ea4609...       2  3.0
0001301de281cb6fc82102d9f9decef9c0a40f5481c9033...       2  3.0
000179b336bde73b863dc447f21d58ff88216fc4835c97e...       2  3.0
000269a5deff340f7786f8f5559448428beafef600f7869...       2  3.0
...                                                    ...  ...
ffffa5df104993cd362c8c876fe3f5f54b293a6878b40a5...       2  3.0
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...       2  3.0
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...       2  3.0
ffffc802346fd6f48f99117898fbc558237a3052c327b87...       2  3.0
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...       2  3.0

                                                   NUM_PASSENGERS       \
                                                            count  sum
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...              0  0.0
0000c280b9c15e9ec96aa2eed34bf0f3ef1d604c6ea4609...              0  0.0
0001301de281cb6fc82102d9f9decef9c0a40f5481c9033...              0  0.0
000179b336bde73b863dc447f21d58ff88216fc4835c97e...              1  1.0
000269a5deff340f7786f8f5559448428beafef600f7869...              1  1.0
...                                                           ...  ...
ffffa5df104993cd362c8c876fe3f5f54b293a6878b40a5...              0  0.0
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...              0  0.0
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...              0  0.0
ffffc802346fd6f48f99117898fbc558237a3052c327b87...              1  1.0
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...              0  0.0

                                                   VEHICLE_ID             \
                                                        count        sum
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...          2  1886100.0
0000c280b9c15e9ec96aa2eed34bf0f3ef1d604c6ea4609...          2   572119.0
0001301de281cb6fc82102d9f9decef9c0a40f5481c9033...          2  1694336.0
000179b336bde73b863dc447f21d58ff88216fc4835c97e...          2   390741.0
000269a5deff340f7786f8f5559448428beafef600f7869...          2  1667027.0
...                                                       ...        ...
ffffa5df104993cd362c8c876fe3f5f54b293a6878b40a5...          2  1775636.0
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...          2   417453.0
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...          2  1844223.0
ffffc802346fd6f48f99117898fbc558237a3052c327b87...          2  1757518.0
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...          2  1606317.0

                                                   VEHICLE_YEAR          \
                                                          count     sum
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...            2  4034.0
0000c280b9c15e9ec96aa2eed34bf0f3ef1d604c6ea4609...            2  3998.0
0001301de281cb6fc82102d9f9decef9c0a40f5481c9033...            2  4026.0
000179b336bde73b863dc447f21d58ff88216fc4835c97e...            2  4026.0
000269a5deff340f7786f8f5559448428beafef600f7869...            2  4022.0
...                                                         ...     ...
ffffa5df104993cd362c8c876fe3f5f54b293a6878b40a5...            1  2016.0
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...            2  4029.0
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...            1  2017.0
ffffc802346fd6f48f99117898fbc558237a3052c327b87...            2  3998.0
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...            1  2017.0

                                                   OCCUPANT_CNT
                                                          count  sum
CRASH_RECORD_ID
000013b0123279411e0ec856dae95ab9f0851764350b7fe...            2  1.0
0000c280b9c15e9ec96aa2eed34bf0f3ef1d604c6ea4609...            2  1.0
0001301de281cb6fc82102d9f9decef9c0a40f5481c9033...            2  2.0
000179b336bde73b863dc447f21d58ff88216fc4835c97e...            2  3.0
000269a5deff340f7786f8f5559448428beafef600f7869...            2  3.0
...                                                         ...  ...
ffffa5df104993cd362c8c876fe3f5f54b293a6878b40a5...            2  1.0
ffffc0eaf9bc22a04bf318b62e0e1c5ec59a4f3c0c34936...            2  1.0
ffffc784918a94c6d5ec9cdced500004faafc6a9e6e01b4...            2  1.0
ffffc802346fd6f48f99117898fbc558237a3052c327b87...            2  3.0
ffffe577251dc1cc67f2f823b595e5028427a210e2a40e7...            2  2.0

[199408 rows x 12 columns]

In [43]:
for col in vehicles.columns:
    print('-'*50)
    print(vehicles[col].value_counts(dropna=False, normalize=True))
    print('-'*50)

--------------------------------------------------
291898    0.000002
208335    0.000002
163301    0.000002
161252    0.000002
151011    0.000002
            ...
228410    0.000002
222265    0.000002
201783    0.000002
203830    0.000002
2047      0.000002
Name: CRASH_UNIT_ID, Length: 401378, dtype: float64
--------------------------------------------------
--------------------------------------------------
05b84c294095d0f8b7ad815b0ee785285bc65c5ed9e4e8bd09ec6e238439ad1845c1bbd1f0980688cc4a3edb1d301a56ac76fc4ed7dee25aa0978c11aa8e414d    0.000037
74e9d893f1df817db0fd24a7d10006941f1eda0c9e7a33c62bb2850e5a9560099b88bececab94471325d467f79f04ddf70ad92357f500c1e5765905d95278524    0.000035
d4c3f39de39d4f08abf19fb11df98628adc0f6024c7d10d266df234e93f6241fd3f993e1cf002806cced9c88c0cf839fd7cc91ec161e544c4273ed2c7186fd97    0.000035
b6c3bbdfdf73f1a718582926d26a1f8a6aa8b471d15780a29ec62f0c89fbc233f5ea39e3e60404331087e499d77386eaac7e708336666944f93c4e48cfedc83f    0.000035
b98e207b3fc5828a243d8b20ea342a64edead2e0064318491a9436d797b648d7c01553307a911174c1313e9155fe232e9f1a4b6a2858608ee2ef62f269984b27    0.000035
                                                                                                                                      ...
ec3627b91288df958013981b34c3ef28c500e6e319c3e8eda77694d09161c59f44ca55d31eae2af520658af6753b43c4511926128fb5d7e71c4d39afe75510c1    0.000002
aa74c62228a0f6415da4968588e0cf21ef9a4d72114c3db3ac261e60af2ff3df49513f0ee08c1ad73e9f17a4db36eff9cd39534dd17d466797e91d784df96217    0.000002
5e7dd1238aff33fea04720bfd5c900fa505ebac6bd060e9d234ca85ebd2271c837e0887c61c9694c39cb255e855074666cf500ce308423a818cedd4a8fb2f9c5    0.000002
dddb8d7914979c4e6435ca3c4e870ed7f8e05cd5d9659c798b1002a4d5dfb7ac37902db46946cb63a7bdaa5d0b931c8678dcd70f987b0fd1699da45b885151d0    0.000002
744093eba3bcb6147add5377609b1105bb3ee9ece92c2ee7503bf3f19bca6b6e229fa57c87077089362e12a9a151132c52c0c40930d34a279c060e960b30c29c    0.000002
Name: CRASH_RECORD_ID, Length: 199408, dtype: float64
--------------------------------------------------
--------------------------------------------------
1.0          0.491492
2.0          0.465693
3.0          0.033044
4.0          0.006834
5.0          0.001869
6.0          0.000635
7.0          0.000242
8.0          0.000095
9.0          0.000047
10.0         0.000017
11.0         0.000012
0.0          0.000007
NaN          0.000002
13.0         0.000002
3778035.0    0.000002
12.0         0.000002
14.0         0.000002
Name: UNIT_NO, dtype: float64
--------------------------------------------------
--------------------------------------------------
DRIVER                 0.836144
PARKED                 0.129957
PEDESTRIAN             0.011777
DRIVERLESS             0.009921
BICYCLE                0.007307
NaN                    0.003500
NON-MOTOR VEHICLE      0.001069
NON-CONTACT VEHICLE    0.000239
DISABLED VEHICLE       0.000082
EQUESTRIAN             0.000002
Name: UNIT_TYPE, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN     0.841511
1.0     0.112061
2.0     0.029473
3.0     0.011518
4.0     0.003670
5.0     0.000947
6.0     0.000374
7.0     0.000149
8.0     0.000067
10.0    0.000040
9.0     0.000037
12.0    0.000030
13.0    0.000017
11.0    0.000017
14.0    0.000015
15.0    0.000010
25.0    0.000007
29.0    0.000007
27.0    0.000005
35.0    0.000005
28.0    0.000005
23.0    0.000005
19.0    0.000005
21.0    0.000002
42.0    0.000002
34.0    0.000002
20.0    0.000002
17.0    0.000002
36.0    0.000002
43.0    0.000002
18.0    0.000002
32.0    0.000002
Name: NUM_PASSENGERS, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN         0.025308
11193.0     0.000002
931608.0    0.000002
812213.0    0.000002
233626.0    0.000002
              ...
838573.0    0.000002
236936.0    0.000002
850114.0    0.000002
883689.0    0.000002
154872.0    0.000002
Name: VEHICLE_ID, Length: 391221, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN       0.181066
2015.0    0.063940
2016.0    0.060076
2014.0    0.057235
2013.0    0.053065
            ...
3003.0    0.000002
1916.0    0.000002
1952.0    0.000002
1905.0    0.000002
2402.0    0.000002
Name: VEHICLE_YEAR, Length: 147, dtype: float64
--------------------------------------------------
--------------------------------------------------
NONE                0.567336
NaN                 0.427410
BRAKES              0.003411
TIRES               0.000488
STEERING            0.000453
WHEELS              0.000279
SUSPENSION          0.000164
ENGINE/MOTOR        0.000110
FUEL SYSTEM         0.000097
LIGHTS              0.000082
WINDOWS             0.000060
CARGO               0.000030
RESTRAINT SYSTEM    0.000022
SIGNALS             0.000022
TRAILER COUPLING    0.000017
EXHAUST             0.000017
Name: VEHICLE_DEFECT, dtype: float64
--------------------------------------------------
--------------------------------------------------
PASSENGER                                 0.623133
SPORT UTILITY VEHICLE (SUV)               0.124374
UNKNOWN/NA                                0.093799
VAN/MINI-VAN                              0.050045
NaN                                       0.035804
PICKUP                                    0.028801
TRUCK - SINGLE UNIT                       0.017604
BUS OVER 15 PASS.                         0.008989
TRACTOR W/ SEMI-TRAILER                   0.008585
MOTORCYCLE (OVER 150CC)                   0.002359
BUS UP TO 15 PASS.                        0.001824
OTHER VEHICLE WITH TRAILER                0.001181
TRACTOR W/O SEMI-TRAILER                  0.001101
SINGLE UNIT TRUCK WITH TRAILER            0.001069
AUTOCYCLE                                 0.000628
MOTOR DRIVEN CYCLE                        0.000311
MOPED OR MOTORIZED BICYCLE                0.000194
ALL-TERRAIN VEHICLE (ATV)                 0.000117
FARM EQUIPMENT                            0.000035
3-WHEELED MOTORCYCLE (2 REAR WHEELS)      0.000022
RECREATIONAL OFF-HIGHWAY VEHICLE (ROV)    0.000015
SNOWMOBILE                                0.000007
Name: VEHICLE_TYPE, dtype: float64
--------------------------------------------------
--------------------------------------------------
PERSONAL                        0.634345
UNKNOWN/NA                      0.192519
NaN                             0.053942
NOT IN USE                      0.050922
TAXI/FOR HIRE                   0.016075
COMMERCIAL - SINGLE UNIT        0.011759
RIDESHARE SERVICE               0.007223
POLICE                          0.006640
CTA                             0.005586
CONSTRUCTION/MAINTENANCE        0.004275
OTHER TRANSIT                   0.003996
COMMERCIAL - MULTI-UNIT         0.003966
SCHOOL BUS                      0.002315
TOW TRUCK                       0.001587
AMBULANCE                       0.001129
FIRE                            0.000817
STATE OWNED                     0.000790
DRIVER EDUCATION                0.000747
MASS TRANSIT                    0.000710
LAWN CARE/LANDSCAPING           0.000406
AGRICULTURE                     0.000107
MILITARY                        0.000060
CAMPER/RV - SINGLE UNIT         0.000057
HOUSE TRAILER                   0.000017
CAMPER/RV - TOWED/MULTI-UNIT    0.000010
Name: VEHICLE_USE, dtype: float64
--------------------------------------------------
--------------------------------------------------
1.0     0.695957
0.0     0.128617
2.0     0.105982
3.0     0.027954
NaN     0.025308
4.0     0.011010
5.0     0.003523
6.0     0.000894
7.0     0.000331
8.0     0.000147
9.0     0.000062
11.0    0.000037
10.0    0.000032
13.0    0.000027
14.0    0.000017
12.0    0.000015
15.0    0.000010
16.0    0.000010
20.0    0.000007
26.0    0.000007
30.0    0.000007
36.0    0.000005
99.0    0.000005
28.0    0.000005
24.0    0.000002
35.0    0.000002
19.0    0.000002
44.0    0.000002
22.0    0.000002
33.0    0.000002
43.0    0.000002
21.0    0.000002
18.0    0.000002
29.0    0.000002
37.0    0.000002
Name: OCCUPANT_CNT, dtype: float64
--------------------------------------------------

In [33]:
people = pd.read_csv('chicago_people.csv')
# Columns (12,13,20,21,22,23,24,25,26,27,29) have mixed dtypes
people.info()

/Users/iansharff/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (12,13,20,21,22,23,24,25,26,27,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1163545 entries, 0 to 1163544
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1163545 non-null  object
 1   PERSON_TYPE            1163545 non-null  object
 2   CRASH_RECORD_ID        1163545 non-null  object
 3   RD_NO                  1153773 non-null  object
 4   VEHICLE_ID             1140646 non-null  float64
 5   CRASH_DATE             1163545 non-null  object
 6   SEAT_NO                237977 non-null   float64
 7   CITY                   857009 non-null   object
 8   STATE                  867050 non-null   object
 9   ZIPCODE                782529 non-null   object
 10  SEX                    1146042 non-null  object
 11  AGE                    830249 non-null   float64
 12  DRIVERS_LICENSE_STATE  687246 non-null   object
 13  DRIVERS_LICENSE_CLASS  593382 non-null   object
 14  SAFETY_EQUIPMENT       1160131 non-null  object
 15  AIRBAG_DEPLOYED        1141623 non-null  object
 16  EJECTION               1149363 non-null  object
 17  INJURY_CLASSIFICATION  1162960 non-null  object
 18  HOSPITAL               210077 non-null   object
 19  EMS_AGENCY             133041 non-null   object
 20  EMS_RUN_NO             21752 non-null    object
 21  DRIVER_ACTION          923341 non-null   object
 22  DRIVER_VISION          923024 non-null   object
 23  PHYSICAL_CONDITION     924014 non-null   object
 24  PEDPEDAL_ACTION        21542 non-null    object
 25  PEDPEDAL_VISIBILITY    21494 non-null    object
 26  PEDPEDAL_LOCATION      21541 non-null    object
 27  BAC_RESULT             924451 non-null   object
 28  BAC_RESULT VALUE       1477 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 266.3+ MB

In [37]:
for col in people.columns:
    print('-'*50)
    print(people[col].value_counts(dropna=False, normalize=True))
    print('-'*50)

--------------------------------------------------
O324097     8.594425e-07
O701286     8.594425e-07
O110564     8.594425e-07
O906098     8.594425e-07
O420009     8.594425e-07
                ...
O1144419    8.594425e-07
O1061439    8.594425e-07
O204809     8.594425e-07
O1074346    8.594425e-07
P161700     8.594425e-07
Name: PERSON_ID, Length: 1163545, dtype: float64
--------------------------------------------------
--------------------------------------------------
DRIVER                 0.776188
PASSENGER              0.204528
PEDESTRIAN             0.011413
BICYCLE                0.006820
NON-MOTOR VEHICLE      0.000868
NON-CONTACT VEHICLE    0.000184
Name: PERSON_TYPE, dtype: float64
--------------------------------------------------
--------------------------------------------------
31ecf6862c691ff12d3856213b902c146b07337b42a5692e3a176a66d684d221028bb5118ef6d67a313bcaed9e97bee1855cb1f5e8650f49e8dc17663475a1ee    5.242599e-05
13026c7fb51566d9ca487a093e38c6f5621c2ec25be48c306b6574983b61daeee589524b96bb2bfe66ddd0f695c8d2bf3ab0297558528e9c7a70363c763d6bd1    4.297212e-05
1829f52c1281a0396ef94692331b3dc530bc4be5a54cd55e94c24a5e5e49b800fbcf9f24dabe4c8277c8964ad05aadc89e90fd94021959d6dff5fad55480d595    3.953435e-05
c727dc759107cf17b2e8141149347128bb4bc26b026c7805562206c7c5761c543dd7cc0e47fc11379455a2ecbb2847c3d1744d6feb78f276d9a457e9beeb6121    3.867491e-05
60fbcef1942e23e9d93ba3fd5dd7f1da2c5b1e4bcc30731363a0f9ed822b5971a38d109cace85875dc2a7321d8a28ba40f24548d9ddd728f600af3b08c036a70    3.781547e-05
                                                                                                                                        ...
191f456797c7f71cea80b6861362b2a119b8ea1552984a17e3ef59e076a02f719b2069867a1784647151ac3db196850eeda41bb9bd87c1f5bc80eea07808d58c    8.594425e-07
8e01f3ad9da4f6ca4af3d3b3a44d160e7769075b5e93ed91e2ef5a03603f7d8033de6fc1eac54edd9112fee5229793f65ec9c297d3f84bc065267da59a33445b    8.594425e-07
60ff143c7f710a42725ef82f2e29aeb2d8bdee5013d0cf9a0411b0c2c2507f9501ee727aff5b36916657b54cc6049ffc9180b702ed54b20cb93c4c30c55ec902    8.594425e-07
7fcc0558a0c7cb1456d246cc5f2c110437ad91887bf4868cfb5201ff16184394c894dc8492c3f328e78a96a0e4b1bd68644e093edc46f2c804525e3a376b8a28    8.594425e-07
f4b4952b24e90de17b72b700c78c3ee6f262d3360c7b1b0396fd85eb3590e608d1bc1bc95bf033de6dde6c9d654ece0490cffc46badeb67401ac5a4de5d35304    8.594425e-07
Name: CRASH_RECORD_ID, Length: 525490, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN         8.398472e-03
JB187770    5.242599e-05
JC317468    4.297212e-05
JB253311    3.953435e-05
JA283201    3.867491e-05
                ...
HZ518536    8.594425e-07
JA424327    8.594425e-07
HY465759    8.594425e-07
JE123965    8.594425e-07
HY494166    8.594425e-07
Name: RD_NO, Length: 521058, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN         1.968037e-02
332155.0    5.156655e-05
643997.0    4.039380e-05
162199.0    3.781547e-05
366311.0    3.781547e-05
                ...
192061.0    8.594425e-07
224796.0    8.594425e-07
557965.0    8.594425e-07
541256.0    8.594425e-07
406603.0    8.594425e-07
Name: VEHICLE_ID, Length: 913904, dtype: float64
--------------------------------------------------
--------------------------------------------------
12/29/2020 05:00:00 PM    6.359874e-05
11/10/2017 10:30:00 AM    5.500432e-05
03/16/2018 10:17:00 AM    5.242599e-05
06/22/2019 06:15:00 PM    4.726934e-05
05/07/2018 09:35:00 AM    4.211268e-05
                              ...
07/18/2017 09:06:00 PM    8.594425e-07
05/19/2017 12:11:00 PM    8.594425e-07
10/06/2020 06:00:00 AM    8.594425e-07
11/13/2019 07:55:00 PM    8.594425e-07
03/09/2017 02:20:00 PM    8.594425e-07
Name: CRASH_DATE, Length: 342988, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN     0.795472
3.0     0.099003
6.0     0.034996
4.0     0.027634
5.0     0.009697
1.0     0.008747
2.0     0.008140
12.0    0.005170
7.0     0.004706
10.0    0.004453
11.0    0.001747
8.0     0.000234
Name: SEAT_NO, dtype: float64
--------------------------------------------------
--------------------------------------------------
CHICAGO            5.210877e-01
NaN                2.634501e-01
CICERO             7.294088e-03
SKOKIE             4.856709e-03
BERWYN             4.161420e-03
                       ...
VRETE              8.594425e-07
ARKADELPHIA        8.594425e-07
BRANDENBURG        8.594425e-07
WST PALM BEACH     8.594425e-07
UNIVERSIRT PARK    8.594425e-07
Name: CITY, Length: 10420, dtype: float64
--------------------------------------------------
--------------------------------------------------
IL     0.704948
NaN    0.254820
IN     0.011367
XX     0.005096
WI     0.003421
MI     0.002740
FL     0.001783
TX     0.001481
OH     0.001377
CA     0.001336
IA     0.001050
GA     0.000942
MO     0.000886
MN     0.000882
NY     0.000694
TN     0.000590
WA     0.000576
AZ     0.000474
NC     0.000434
PA     0.000388
CO     0.000356
KY     0.000342
NJ     0.000302
MS     0.000299
VA     0.000293
MA     0.000274
MD     0.000268
AL     0.000254
ID     0.000225
AR     0.000220
NV     0.000219
LA     0.000192
NB     0.000188
KS     0.000168
OK     0.000166
SC     0.000162
CT     0.000102
OR     0.000089
UT     0.000076
NM     0.000064
ND     0.000052
SD     0.000052
DC     0.000047
NH     0.000046
MT     0.000044
ME     0.000035
WV     0.000034
DE     0.000028
WY     0.000028
HI     0.000027
AK     0.000023
RI     0.000022
VT     0.000014
Name: STATE, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN       3.274613e-01
60629     2.429386e-02
60639     2.044442e-02
60620     1.878397e-02
60617     1.776639e-02
              ...
54426     8.594425e-07
44241     8.594425e-07
6030      8.594425e-07
51053     8.594425e-07
VON1B0    8.594425e-07
Name: ZIPCODE, Length: 11457, dtype: float64
--------------------------------------------------
--------------------------------------------------
M      0.521281
F      0.377773
X      0.085903
NaN    0.015043
Name: SEX, dtype: float64
--------------------------------------------------
--------------------------------------------------
 NaN      2.864487e-01
 25.0     2.059568e-02
 26.0     2.042293e-02
 27.0     2.020463e-02
 24.0     1.982046e-02
              ...
 106.0    8.594425e-07
-49.0     8.594425e-07
-47.0     8.594425e-07
-40.0     8.594425e-07
-177.0    8.594425e-07
Name: AGE, Length: 116, dtype: float64
--------------------------------------------------
--------------------------------------------------
IL     5.430035e-01
NaN    4.093516e-01
XX     1.289336e-02
IN     9.717716e-03
WI     3.132668e-03
           ...
PT     8.594425e-07
UV     8.594425e-07
GK     8.594425e-07
FG     8.594425e-07
BE     8.594425e-07
Name: DRIVERS_LICENSE_STATE, Length: 187, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN    4.900223e-01
D      4.444280e-01
A      1.732808e-02
C      1.401407e-02
B      1.358263e-02
           ...
9B     8.594425e-07
VD     8.594425e-07
3E     8.594425e-07
D,     8.594425e-07
C2     8.594425e-07
Name: DRIVERS_LICENSE_CLASS, Length: 241, dtype: float64
--------------------------------------------------
--------------------------------------------------
SAFETY BELT USED                              0.499338
USAGE UNKNOWN                                 0.442234
NONE PRESENT                                  0.031206
CHILD RESTRAINT USED                          0.006716
SAFETY BELT NOT USED                          0.005893
HELMET NOT USED                               0.003798
NaN                                           0.002934
CHILD RESTRAINT - FORWARD FACING              0.001787
BICYCLE HELMET (PEDACYCLIST INVOLVED ONLY)    0.001317
HELMET USED                                   0.001155
CHILD RESTRAINT - TYPE UNKNOWN                0.000907
CHILD RESTRAINT - REAR FACING                 0.000879
DOT COMPLIANT MOTORCYCLE HELMET               0.000506
CHILD RESTRAINT NOT USED                      0.000487
BOOSTER SEAT                                  0.000474
NOT DOT COMPLIANT MOTORCYCLE HELMET           0.000097
SHOULD/LAP BELT USED IMPROPERLY               0.000094
WHEELCHAIR                                    0.000086
CHILD RESTRAINT USED IMPROPERLY               0.000075
STRETCHER                                     0.000018
Name: SAFETY_EQUIPMENT, dtype: float64
--------------------------------------------------
--------------------------------------------------
DID NOT DEPLOY                            0.577590
DEPLOYMENT UNKNOWN                        0.191640
NOT APPLICABLE                            0.152845
DEPLOYED, FRONT                           0.030792
DEPLOYED, COMBINATION                     0.019849
NaN                                       0.018841
DEPLOYED, SIDE                            0.008031
DEPLOYED OTHER (KNEE, AIR, BELT, ETC.)    0.000413
Name: AIRBAG_DEPLOYED, dtype: float64
--------------------------------------------------
--------------------------------------------------
NONE                  0.928377
UNKNOWN               0.054309
NaN                   0.012189
TOTALLY EJECTED       0.003597
PARTIALLY EJECTED     0.000922
TRAPPED/EXTRICATED    0.000607
Name: EJECTION, dtype: float64
--------------------------------------------------
--------------------------------------------------
NO INDICATION OF INJURY     0.917239
NONINCAPACITATING INJURY    0.045888
REPORTED, NOT EVIDENT       0.026835
INCAPACITATING INJURY       0.008998
FATAL                       0.000536
NaN                         0.000503
Name: INJURY_CLASSIFICATION, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN                                  8.194509e-01
REFUSED                              6.067664e-02
DNA                                  2.462818e-02
NONE                                 1.516057e-02
99                                   5.874289e-03
                                         ...
COLMARS                              8.594425e-07
ADVOCATE MASONIC HOSP.               8.594425e-07
RESURRECTIO                          8.594425e-07
RE3FUSED                             8.594425e-07
SEE NARRATIVE-REFUSED EMS ONSCENE    8.594425e-07
Name: HOSPITAL, Length: 5416, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN            8.856589e-01
DNA            2.126690e-02
CFD            1.965115e-02
REFUSED        1.133862e-02
NONE           7.537311e-03
                   ...
CFD AMB. 39    8.594425e-07
AMBU 9         8.594425e-07
CFD AMB:50     8.594425e-07
CFD AMB# 30    8.594425e-07
69-75          8.594425e-07
Name: EMS_AGENCY, Length: 6398, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN           9.813054e-01
DNA           3.221190e-03
NONE          1.268537e-03
99            8.525669e-04
REFUSED       4.812878e-04
                  ...
AMBO#8        8.594425e-07
HOLY CROSS    8.594425e-07
AMB# 52       8.594425e-07
EMS           8.594425e-07
AMB  72       8.594425e-07
Name: EMS_RUN_NO, Length: 1041, dtype: float64
--------------------------------------------------
--------------------------------------------------
NONE                                 0.288612
NaN                                  0.206442
UNKNOWN                              0.189572
FAILED TO YIELD                      0.073618
OTHER                                0.068420
FOLLOWED TOO CLOSELY                 0.051224
IMPROPER BACKING                     0.025351
IMPROPER TURN                        0.021056
IMPROPER LANE CHANGE                 0.021010
IMPROPER PASSING                     0.017590
DISREGARDED CONTROL DEVICES          0.013164
TOO FAST FOR CONDITIONS              0.013007
IMPROPER PARKING                     0.003090
WRONG WAY/SIDE                       0.003020
CELL PHONE USE OTHER THAN TEXTING    0.001335
EVADING POLICE VEHICLE               0.001331
OVERCORRECTED                        0.000910
EMERGENCY VEHICLE ON CALL            0.000769
TEXTING                              0.000351
STOPPED SCHOOL BUS                   0.000090
LICENSE RESTRICTIONS                 0.000037
Name: DRIVER_ACTION, dtype: float64
--------------------------------------------------
--------------------------------------------------
NOT OBSCURED              0.429715
UNKNOWN                   0.342995
NaN                       0.206714
OTHER                     0.008360
MOVING VEHICLES           0.004898
PARKED VEHICLES           0.002975
WINDSHIELD (WATER/ICE)    0.002452
BLINDED - SUNLIGHT        0.000936
TREES, PLANTS             0.000375
BUILDINGS                 0.000310
BLINDED - HEADLIGHTS      0.000076
BLOWING MATERIALS         0.000063
HILLCREST                 0.000059
EMBANKMENT                0.000051
SIGNBOARD                 0.000021
Name: DRIVER_VISION, dtype: float64
--------------------------------------------------
--------------------------------------------------
NORMAL                          0.530852
UNKNOWN                         0.248116
NaN                             0.205863
IMPAIRED - ALCOHOL              0.003848
REMOVED BY EMS                  0.003102
OTHER                           0.002273
FATIGUED/ASLEEP                 0.002115
EMOTIONAL                       0.001703
ILLNESS/FAINTED                 0.000739
HAD BEEN DRINKING               0.000629
IMPAIRED - DRUGS                0.000468
IMPAIRED - ALCOHOL AND DRUGS    0.000193
MEDICATED                       0.000100
Name: PHYSICAL_CONDITION, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN                                                  0.981486
CROSSING - WITH SIGNAL                               0.003759
WITH TRAFFIC                                         0.002977
UNKNOWN/NA                                           0.002452
OTHER ACTION                                         0.002394
NO ACTION                                            0.000954
CROSSING - AGAINST SIGNAL                            0.000916
CROSSING - NO CONTROLS (NOT AT INTERSECTION)         0.000884
NOT AT INTERSECTION                                  0.000777
CROSSING - NO CONTROLS (AT INTERSECTION)             0.000741
AGAINST TRAFFIC                                      0.000622
STANDING IN ROADWAY                                  0.000449
CROSSING - CONTROLS PRESENT (NOT AT INTERSECTION)    0.000427
TURNING LEFT                                         0.000241
PARKED VEHICLE                                       0.000219
ENTER FROM DRIVE/ALLEY                               0.000191
INTOXICATED PED/PEDAL                                0.000134
WORKING IN ROADWAY                                   0.000129
TURNING RIGHT                                        0.000124
PLAYING IN ROADWAY                                   0.000076
TO/FROM DISABLED VEHICLE                             0.000015
PLAYING/WORKING ON VEHICLE                           0.000013
SCHOOL BUS (WITHIN 50 FT.)                           0.000010
WAITING FOR SCHOOL BUS                               0.000009
Name: PEDPEDAL_ACTION, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN                        0.981527
NO CONTRASTING CLOTHING    0.014550
CONTRASTING CLOTHING       0.002466
OTHER LIGHT SOURCE USED    0.000995
REFLECTIVE MATERIAL        0.000462
Name: PEDPEDAL_VISIBILITY, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN                0.981487
IN ROADWAY         0.008549
IN CROSSWALK       0.005998
UNKNOWN/NA         0.001525
BIKEWAY            0.000863
NOT IN ROADWAY     0.000837
BIKE LANE          0.000385
DRIVEWAY ACCESS    0.000281
SHOULDER           0.000076
Name: PEDPEDAL_LOCATION, dtype: float64
--------------------------------------------------
--------------------------------------------------
TEST NOT OFFERED                   0.782314
NaN                                0.205488
TEST REFUSED                       0.008658
TEST PERFORMED, RESULTS UNKNOWN    0.002032
TEST TAKEN                         0.001508
Name: BAC_RESULT, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN     9.987306e-01
0.00    1.271975e-04
0.18    8.766313e-05
0.17    8.766313e-05
0.21    7.563094e-05
0.14    6.961484e-05
0.20    6.789596e-05
0.16    5.930153e-05
0.15    5.758265e-05
0.19    5.586376e-05
0.23    5.500432e-05
0.22    5.414488e-05
0.12    4.812878e-05
0.13    4.640989e-05
0.11    4.469101e-05
0.24    3.953435e-05
0.26    2.664272e-05
0.27    2.492383e-05
0.09    2.320495e-05
0.10    2.320495e-05
0.25    2.320495e-05
0.28    1.804829e-05
0.29    1.289164e-05
0.30    1.289164e-05
0.04    1.289164e-05
0.03    1.289164e-05
0.08    1.203219e-05
0.07    1.203219e-05
0.33    1.031331e-05
0.05    8.594425e-06
0.32    6.875540e-06
0.06    6.016097e-06
0.02    6.016097e-06
0.35    5.156655e-06
0.31    5.156655e-06
0.38    5.156655e-06
0.34    3.437770e-06
0.01    2.578327e-06
0.36    2.578327e-06
0.45    1.718885e-06
0.60    1.718885e-06
0.44    1.718885e-06
0.39    1.718885e-06
0.40    8.594425e-07
1.00    8.594425e-07
0.41    8.594425e-07
0.80    8.594425e-07
0.99    8.594425e-07
0.79    8.594425e-07
0.67    8.594425e-07
0.47    8.594425e-07
0.58    8.594425e-07
0.95    8.594425e-07
0.88    8.594425e-07
Name: BAC_RESULT VALUE, dtype: float64
--------------------------------------------------
--------------------------------------------------
NaN    0.999006
Y      0.000646
N      0.000348
Name: CELL_PHONE_USE, dtype: float64
--------------------------------------------------